<h2>Movies</h2>

{{#each movies}}
    <div>
        <h4>Title: {{this.title}}</h4>
        <h4>Genre: {{this.genre}}</h4>
        <h4>Plot: {{this.plot}}</h4>
        <ul>
            {{#each this.cast}}
                <li><h4>my cast: {{this.name}}</h4></li>
            {{/each}}
        </ul>
        
       <form action="/movies/{{_id}}/edit" method="GET">
        <button type="submit">Edit</button>
        </form>
       
    </div>
{{/each}}
<p></p>
<a href="/movies/new">Create new movie!</a>